.pizza {
  button {
    div {
      font-size: 16px !important;
      font-weight: normal !important;
      height: auto !important;
      overflow: auto !important;
    }
  }
}

.pizzaCount {
  padding: 10px 10px 0 10px;
  font-size: 20px;
}
